
.container {
    width:200px;
    padding: 100px 80px 400px 200px;
    background-color: gray;
}
.content {
    float: right;
    position: relative;
    left:500px;
    bottom: 350px;
    
}

.btn-group button {
    background-color: gray; 
    border: 10px solid transparent;
    color: white; 
    padding: 10px 0px 0px 10px;  
    width: 40%;
    display: inline-block; 
    display: block;
    font-size: 20px;
}
.btn-group button:hover {
    background-color: lightgrey;
}

#AddEmployee, #VerifyEmployee{
    float:right;
    position: absolute;
    top: 25px;
    right:600px;
    padding: 20px;
}

#VerifyEmployee{
    right:600px;
    top: 250px;
}

.hide{
    display: none;
}

